.homeMain {
  width: 100%;
  border: 2px red solid;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.heroSectionAP {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  color: white;
  border-radius: 15px;
  margin: 20px;
  overflow: hidden;
  font-size: 16px;
  height: 150px;
  @media screen and (min-width: 768px) {
    align-items: center;
    margin: 20px 0 20px 0;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .darkLayer {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
}

/* Apropos.scss */

.collapsible-sections {
  margin: 20px 0;

  .collapsible-section {
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    overflow: hidden; // Add overflow hidden to contain the animated content

    .collapsible-header {
      width: 100%;
      background: rgba(255, 96, 96, 1);
      padding: 15px;
      text-align: left;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      color: #fff; // Adjust text color for contrast

      .arrow {
        font-size: 18px;
        color: #fff; // Adjust arrow color for contrast
      }
    }

    .collapsible-content {
      // Use max-height and transition for smooth collapsing
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out, padding 0.3s ease-out;

      padding: 0 15px; // Start with zero vertical padding
      background-color: #fff;

      // For the text inside the content
      p {
        margin: 15px 0;
      }
    }

    // When the section is open, adjust styles
    &.open .collapsible-content {
      max-height: 500px; // Set a max-height greater than the expected content height
      padding: 15px;
      transition: max-height 0.5s ease-in, padding 0.5s ease-in;
    }
  }
}
