@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900");
@import "./normalize";

* {
  box-sizing: border-box; /* Ensures padding and borders are included in width calculations */
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@import "../components/Header/Header.scss";
@import "../components/Footer/Footer.scss";

.pageWrapper {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0 0px;
  box-sizing: border-box;
}

.debug2 {
  background-color: red;
}
.debug {
  position: relative;
  background-color: yellow;
  width: 100%;
  max-width: 500px;
  margin: auto;
  border: 1px solid blue; /* Outline for debugging layout issues */
}
