.card {
  border-radius: 5px;
  height: 255px;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: white;
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .gradientDarken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
    z-index: 1;
  }
  &_Description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: white;
  }

  &_Title {
    z-index: 2;
    position: relative;
    padding: 10px;
  }
  &_Location {
    z-index: 2;
    position: relative;
    padding: 10px;
  }
}
