header {
  .headerWrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    max-width: 1440px;

  }

  .mainLogo {
    padding: 0;
    margin: 0;
  }

  nav {
    display: flex;

    ul {
      display: flex;

      align-items: center;
      padding: 0;
      gap: 30px;
      list-style: none;

      li {
        .navLink {
          text-decoration: none;
          color: inherit;
          font-weight: 600;
        }
        .navLink:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
