header {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  width: 1948px;

  .mainLogo {
    border: 2px solid green;
    padding: 0;
    margin: 0;
  }

  nav {
    display: flex;

    ul {
      display: flex;
      border: 2px solid red;
      align-items: center;
      gap: 20px;
      list-style: none;

      li {
        .navLink {
          text-decoration: none;
          color: inherit;
          font-weight: 600;
        }
        .navLink:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
